body {
    background-color: #59cd85;
    color: #e04a4a;
    font-family: Arial;
    padding-bottom: 20%;  
    padding-top: 40px;
    padding-right: 60px;
    padding-left: 60px;
  }

  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4em;
    overflow: break;
  }